<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>
</head>
<body>

<script src="vue.js"></script>
<link rel="stylesheet" href="index.css">
<div id="app">
    <h1>{{ message }}</h1>
</div>


<div id="keyUp">
    <h1>KeyUp</h1>
    enter in text that is captured and output<br>
    <input type="text" v-on:keyup="nameKeyUp">
    Output: {{ name }}
    <br><br>

    enter in text and then press ctrl+enter to see text input<br>
    <input type="text" v-on:keyup.ctrl.enter="name = $event.target.value">
    Output: {{ name }}
    <br><br>

    <form action="" method="GET" v-on:submit.prevent>
        <input type="submit" value="submit">
    </form>
</div>

<div id="twoWayDataBindingNumber">
    <h1>Two Way Data Binding</h1>
    <input type="text" v-model.number="age">
    <p>you entered: {{ age }}</p>
    <p>Type: {{ typeof age }}</p>
</div>

<div id="twoWayDataBindingNumberLazy">
    <h1>Lazy Two Way Data Binding Number</h1>
    <input type="text" v-model.number.lazy="age">
    <p>you entered: {{ age }}</p>
    <p>Type: {{ typeof age }}</p>
</div>

<div id="twoWayDataBindingName">
    <h1>Name Two Way Data Binding</h1>
    <input type="text" v-model.trim="name">
    <p>you entered: {{ name }}</p>
    <p>Type: {{ typeof age }}</p>
</div>


<div id="htmlOutput">
    <h1>HTML Output</h1>
    <div v-html="html"></div>
</div>

<div id="boolean">
    <h1>Vue Boolean</h1>
    <p v-if="items > 10"> {{items}}</p>
    <p v-else-if="items > 0">Just a few items left</p>
    <p v-else>out of stock</p>
</div>

<div id="multipleElementsAffected">
    <h1>Multiple Element Manipulation</h1>
    <p v-if="items > 10"> {{items}}</p>
    <p v-else-if="items > 0">Just a few items left</p>
    <p v-else>out of stock</p>
    <template v-if="items > 50">
        <p v-if="items > 10"> Special Offer</p>
    </template>
</div>

<div id="hide">
    <h1>Hide Elements</h1>
    <p v-show="isNinja">View This</p>
    <p v-show="!isNinja">Or View This</p>
    <button v-on:click="isNinja = !isNinja">toggleView</button>
</div>

<div id="cloak">
    <h1>Cloak Example</h1>
    <p v-cloak>{{message}}</p>
</div>

<div id="loopingThroughArrays">
    <h1>Looping Through Arrays</h1>
    <ul>
        <li v-for="string in strings">{{string}}</li>
    </ul>
</div>

<div id="table">
    <h1>Vue Table Element Aggregator</h1>
    <table class="center" border="1">
        <thead>
        <tr>
            <th>name</th>
            <th>title</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="person in persons">
            <td>{{person.name}}</td>
            <td>{{person.title}}</td>
            <td>{{companyName}}</td>
        </tr>
        </tbody>
    </table>
</div>


<div id="accessingArrays">
    <h1>Accessing Arrays</h1>
    <table class="center" border="1">
        <thead>
        <tr>
            <th>name</th>
            <th>title</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(person, index) in persons">
            <td>{{person.name}}</td>
            <td>{{person.title}}</td>
            <td>{{companyName}}</td>
            <td>{{index}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="loopThroughObjectProperties">
    <h1>Loop Through Object Properties</h1>
    <ul>
        <li v-for="(value, propertyName, index) in person">
            {{propertyName}}: {{value}} ({{index}})
        </li>
    </ul>
</div>

<div id="outputRangeOfNumbers">
    <h1>Output Range Of Numbers</h1>
    <ul>
        <li v-for="(n, index) in 10">
            {{n}} * {{index}} = {{n * index}}
        </li>
    </ul>
</div>


<div id="addingToTheDom">
    <h1>Adding to the DOM</h1>
    <ul>
        <li v-for="(person, index) in persons" v-bind:key="person.id">
            {{person.name}} {{person.id}} ({{index}})
            <input type="text">
        </li>
    </ul>
    <button v-on:click="addNewPerson()">Add</button>
    <button v-on:click="reverse()">Reverse</button>

</div>

<div id="gettersAndSetters">
    <h1>Getters and Setters</h1>
    <p>{{ counter }}</p>
    <p>{{ fullName }}</p>
    <p>{{ fullName }}</p>

    <button v-on:click="counter++">Increase Counter</button>
    <button v-on:click="changeName">Change Name</button>
    <button v-on:click="changeNameSetter">Change Name (setter)</button>
</div>

<div id="watchers">
    <h1>Watchers</h1>
    <input type="text" v-model="searchQuery">
    <p v-if="isSearching">Searching...</p>
    <div v-else>
        <ol>
            <li v-for="result in results">{{ result }}</li>
        </ol>
    </div>
</div>

<div id="filters">
    <h1>Filters</h1>
    <p>{{ message | uppercase(true) }}</p>
    <p>{{ message | uppercase(false) }}</p>
</div>

<div id="filters2">
    <h1>Filters</h1>
    <p v-bind:title="message | uwfirst">{{ message }}</p>
</div>

<div id="filters3">
    <h1>Filters</h1>
    <p v-bind:title="message | uwfirst | removeSpaces">{{ message }}</p>
</div>

<div id="cssStyling">
    <div style="width: 200px; height: 200px;" v-bind:style="{ 'background-color': color }">
    </div>
    <button v-on:click= "changeColor">Change Color</button>
</div>

<div id="shapes">
    <div class="shape"
         v-for="shape in shapes"
         v-bind:class="[ shape.shapeType, shape.direction ? shape.direction : '', { animate: shape.animate } ]"></div>
</div>

<script src="index.js"></script>
</body>
</html>